#nav.active{
    background-color: #373940;
}

.carousel-indicators .active{
    background-color: #007AFF;
}
.carousel-indicators li{
    border: none;
    background-color: #373940;
}
.carousel-indicators li:hover{
    border: none;
    background-color: transparent;
}

.sponser_block{
    margin: 5px 0;
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 75px 0;
}

/* slider style */
.col-md-4.animate-box img{
    height: 250px;
}

.mySwiper .swiper-slide{
    padding: 0;
}


.mySwiper .swiper-slide:hover{
    cursor: pointer;
}
.container-fuild.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.container-fuild.category h3{
    font-weight: 500;
}
.container-fuild.category a{
    color: white;
    text-decoration: none;
}
.container-fuild.category a:hover{
  color: gray;
}

.swiper-slide.col-md-4 {
    position: relative;
}
.swiper-slide.col-md-4 a{
    position: absolute;
    bottom: 20%;
    left: 5%;
    background: purple;
    padding: 2px 8px;
    border-radius: 5px;
    color: white;
}

/* ឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲឲ​ container-fuild movei-detail =========== Section */
.container-fuild.movei-detail{
    padding: 20px 0px 0px 0px;
    box-shadow: 82px -70px 135px 100px rgba(0,0,0,0.87) inset; 
    -webkit-box-shadow: 82px -70px 100px 110px rgba(0,0,0,0.87) inset; 
    -moz-box-shadow: 82px -70px 100px 110px rgba(0,0,0,0.87) inset;
    background-size: cover;
    background-position-x: 247px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    margin-top: 2rem;
    display: none;
}
.container-fuild.movei-detail .detail-wraper{
    width: 100%;
    padding: 190px;
    box-shadow: 300px -70px 300px 100px rgb(0, 0, 0) inset; 
    -webkit-box-shadow: 300px -70px 135px 100px rgb(0, 0, 0) inset; 
    -moz-box-shadow: 300px -70px 150px 100px rgb(0, 0, 0) inset; 
    position: relative;
    
}
.detail-wraper .play_btn{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    font-size: 5rem;
    color: white;
    font-weight: 300;
    transition: all .5s;
}
.detail-wraper .play_btn:hover{
    color: purple;
}
.row.close-btn-wrap button{
 float: right;
 transform: translate(-10px, -10px);
 outline: none;
 border: none;
 font-weight: 900;
 color: black;
}
.container-fuild.movei-detail .close-btn{
    padding: 5px 10px;
    border-radius: 10px;
}
.container-fuild.movei-detail .movei-cotent {
    width: 30%;
    line-height: 2;
}
.reaction_icon .reaction-btn{
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.reaction_icon .reaction-btn i{
  color: purple;
}
.reaction_icon .reaction-btn b{
  color: white;
  margin-left: 5px;
}
.reaction_icon .reaction-btn.reaction{

}
.movei-cotent h2, .movie-dscr{
    color: white;
}
.movei-cotent .key-word{
 color: blue;
 font-weight: 400;
}

